@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


@keyframes scroll {
  0% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}
  100% {
    transform: translateX(-100%);
  }
}

/* Add more classes for each logo as needed */
/* Carousel.css */

.slick-slide {
  transition: transform 1s ease-in-out;
}

.slick-active {
  transform: scale(1.05);
}

.slick-prev:before, .slick-next:before {
  color: black;
}

.slick-dots li button:before {
  font-size: 12px;
  color: black;
  display: none;
}

.slick-dots li.slick-active button:before {
  color: black;
}

.slick-prev, .slick-next {
  display: none !important;
}





/* footer css below code */
.hover-zoom img {
  transition: transform 0.3s ease-in-out;
}

.hover-zoom:hover img {
  transform: scale(1.1);
}



/* about section animation */

@keyframes gradient-x {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient-x {
  background-size: 200% 200%;
  animation: gradient-x 15s ease infinite;
}
